.Parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6.5rem;
}

.Buttons {
  display: flex;
  padding: 3rem;
  justify-content: space-around;
}

.Buttons > button {
  font-size: 1.5rem;
  margin: 2rem;
  width: 10rem;
}

.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.Form > button {
  font-size: 1.5rem;
}

label {
 margin-right: 10px; 
}  

h1 {
  font-size: 40px;
}